body {
    background-color: #fff;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

}

a {
    text-decoration: underline;
    color: white;
    font-weight: 100;
    display: inline-block;
}

a:hover {
    color: grey;
}

.black-anchor {
    font-weight: 800;
    color: #000;

}

.black-anchor:hover {
    color: rgb(107, 107, 107)
}

/* Top section */
.nav-item {
    padding: 0 5rem;
}

.stadium-img {
    background-image: url('images/csgo.jpeg');
    height: 900px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.stadium-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-heading {
    color: #fff;
    text-shadow: 2px 3px 2px rgba(25, 25, 25);
    font-family: 'Lato', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

/* Second Section */
#second-section {
    background-color: rgb(25, 25, 25);
    padding: 0.5% 0 0.5% 0;
}

.forbes-image {
    float: left;
    border-radius: 100%;
    text-align: left;
    margin: 2%;
    width: 25%;
}

.forbes-phrase {
    background-color: rgb(25, 25, 25);
    padding: 10% 0;
    text-align: left;
    line-height: 2;
}

/* Third Section */
#third-section {
    color: #000;
    padding: 9% 0 1% 0;
}

.newzoo-image {
    text-align: right;
    float: right;
    width: 25%;
    margin: 2% 6% 0 2%;
}

.newzoo-phrase {
    padding: 10% 0;
    text-align: left;
    height: 50%;
    line-height: 1.5;
    display: inline-block;
    width: 60%
}

.newzoo-anchor {
    padding: 0 4%;

}

/* Fourth Section */
#fourth-section {
    background-color: rgb(25, 25, 25);
    padding: 11% 0 11% 0;
}

.data-text {
    font-size: 3rem
}

/* Last Section */
#last-section {
    padding: 18% 0;
    color: #000;
}

/* Footer */
#footer {
    background-color: rgb(25, 25, 25);
    padding: 3% 0 2%;
}

.footer-link {
    padding: 2% 3% 0 3%;
}
